body { 
    background-image: url(https://3.bp.blogspot.com/-cW19DjLn2PI/W_dFfzHaMlI/AAAAAAAAAQQ/HPW9Md1DzBUdM4-6FNAkP79KhiuF5iXUwCHMYCw/s1600/final-fantasy-tactics-wallpaper-and-background-image-1366x768.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #84afb8;
}

h1 {
    font-size: 48px;
    margin: 15px;
    padding: 10px;
    width: 40vw;
}

p {
    font-size: 18px;
    margin: 10px;
}

audio {
    clear: left;
}

.rules {
    background-image: linear-gradient(to right, #606060, rgb(34, 34, 34));
    font-family: 'Courier New', Courier, monospace;
    width: 55vw;
    border: 5px solid white;
    border-radius: 5%;
    color: white;
    padding: 15px;
}

.audio {
    clear: left;
}

.goal {
    background-color: white;
    height: 100px;
    width: 100px;
    float: left;
    border: 10px solid black;
    margin: 5px;
}

.score {
    background-color: white;
    height: 100px;
    width: 100px;
    float: left;
    border: 10px solid black;
    margin: 5px;
}

.button-div {
    clear: left;
}

.winLose {
    float: left;
    background-color: black;
    color: #25ed2f;
    height: 100px;
    width: 100px;
    border: 10px solid gray;
    margin: 5px;
}

.button {
    height: 125px;
    width: 100px;
    float: left;
    background-color: white;
    border: 10px solid black;
    border-radius: 25%;
    margin: 5px;
}

.creature {
    height: 100px;
    width: 75px;
    padding: 10px;
}

.ff {
    font-family: 'Final Fantasy';
    font-weight: normal;
    font-style: normal;
}

#win-text {
    font-size: 60px;
    text-align: center;
}

#loss-text {
    font-size: 60px;
    text-align: center;
}

#goal-text {
    font-size: 60px;
    text-align: center;
}

#score-text {
    font-size: 60px;
    text-align: center;
}